<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/application.css">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation" style="font:arial; color: #F08080;">
            <!--change font color-->

            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home &nbsp;&nbsp;&nbsp;| </a></li>
                    <li><a href="/camera">Camera &nbsp;&nbsp;&nbsp;| </a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>

        <div class = "container">
            {% block body %} {% endblock %}
        </div>
            <script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
            <script src="/static/js/bootstrap.js"></script>

            {% block javascript %} {% endblock %}
    </body>
<html>