{% extends "master.html" %}

{% block body %}

<h1>Welcome to KonoKawaii</h1>
<h3>What is KonoKawaii?</h3>
<p>KonoKawaii is a web based app that simulates the Purikura photobooths in Asia.  The purpose of this app is to allow users to take pictures and then customize them with stickers and other such fun things with their friends.</p>

<p>This app is by Jee Kang, an aspiring software engineer who currently attends Hackbright Academy.  Please check out her <a href="www.github.com/jkang89">github</a> to see what she has accomplished so far or her <a href="www.linkedin.com/in/jeekang">linkedin</a> for her professional background.</p>

{% endblock %}