{% extends 'master.html' %}
{% block body %}

  <div>
    <h1 class="text-center">PuriSticka Friends</h1>
    <p class="text-center">Please <a href="/login">log in</a> or <a href="/register">create</a> an account so that we can begin taking photos.</p>
  </div>
  <br>
  <br>

  <div class="text-center">  
    <button id="tocamera" class="btn btn-success btn-lg">Ready? Say Cheese!</button>
  </div>

{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $('#tocamera').click(function() {
      window.location.href = '/camera';
    });
  });
</script>
{% endblock %}
